/*--------------- global ---------------*/

.container {
    margin: 0 auto;
    max-width: 1170px;
    box-sizing: content-box;
}
.block-header {
    text-align: center;
    font-family: 'Raleway';
}
h2 {
    padding: 54px 0;
    font-size: 36px;
    line-height: 42px;
}
.block-header__line {
    margin: 0 auto;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}
.block-header__text {
    margin: 40px auto 0;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

h4 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
h5 {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 58px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    background-color: #EC7979;
}
.button:hover {
    background-color: #AB4949;
}
.button:active {
    background-color: #EC7979;
}

.white-button {
    border: 2px solid #fff;
    background-color: transparent;
    box-sizing: border-box;
}
.white-button:hover {
    color: #EC7979;
    background-color: transparent;
    border: 2px solid #EC7979;
}
.white-button:active {
    color: #fff;
    background-color: #AB4949;
    border: 2px solid #AB4949;

}

/*--------------- HEADER ---------------*/

header {
    position: absolute;
    width: 100%;
    background-color: #000;
}
.header__container {
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    height: 75px;
}
.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 115px;
}
.header__logo img:last-child {
    padding: 0 0 0 3px;
}
.header__list {
    display: flex;
    margin: 0 20px 0 0;
}
.header__item {
    width: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 19px;
    color: #fff;
}


/*--------------- HOME ---------------*/

.home__container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/home.png');
    background-size: auto, 100% 100%;
}
.home__row {
    padding: 283px 0 183px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    box-sizing: content-box;
}
.left-home {
    flex: 0 1 calc(670/1170*100%);
    color: #fff;
}
.left-home__logo {
    padding: 23px 0 22px 0;
}
.left-home__logo img {
    height: 55px;
}
.header__logo img:last-child {
    padding: 0 0 0 5px;
}
h1 {
    margin: 51px 0 55px 0;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}
.left-home__line {
    margin: 0 0 42px 0;
    width: 170px;
    height: 1px;
    background-color: #fff;
}
.left-home__text {
    margin: 0 0 42px 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
}
.left-home__button {
    width: 270px;
}
.right-home {
    flex: 0 1 calc(470/1170*100%);
}
.right-home__white-block {
    padding: 0 50px 75px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}
.right-home__title {
    padding: 28px 0 41px 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333;
    text-align: center;
}
.right-home__title span {
    color: #ec7979;
}
.right-home input {
    width: 100%;
    padding: 33px 0 16px;
    border-bottom: 1px solid #BDBDBD;

    font-family: 'Open Sans';
    line-height: 19px;
    
}
.right-home input::-moz-placeholder {color: #BDBDBD;}
.right-home input::-webkit-input-placeholder {color: #BDBDBD;}

.right-home__button {
    width: 100%;
    height: 60px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 0px 0px 10px 10px;
}


/*--------------- MEDIA ---------------*/

.media {
    background: #F8EFEF;
}
.media__row {
    display: flex;
    justify-content: space-between;
}
.media-left {
    flex: 0 1 calc(470/1170*100%);
}
.media-left__title {
    padding: 14px 0 31px 0;
    color: #333;
}
.media-left__text {
    padding: 0 0 18px 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}
.media-right {
    padding: 35px 0 0 0;
    flex: 0 1 calc(670/1170*100%);
}
.media-right__list {
    display: flex;
    justify-content: space-between;
}
.media-right__list a {
    flex: 0 1 calc(70/670*100%);
}
.media-right__list img {
    width: 100%;
}


/*--------------- TABS ---------------*/

.tab__container {
    padding: 99px 0 0 0;
}
.tab__header {
    display: flex;
    height: 40px;
}
.tab__choice {
    flex: 0 1 calc(184/1170*100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    line-height: 19px;
    color: #333;
    border-bottom: 1px solid #C6CBCD;
}
.tab__choice-active {
    flex: 0 1 calc(203/1170*100%);
    border: 1px solid #C6CBCD;
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    box-sizing: content-box;
}
.tab__choice:last-child {
    flex: auto;
}

.tab__main {
    display: flex;
    border-right: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-bottom: 1px solid #C6CBCD;
}
.tab__article {
    flex: 0 1 59.83%;
    padding: 0 30px 0 100px;
}
.tab-article__title {
    padding: 41.5px 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}
.tab-article__text {
    margin: 27px 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
}
.tab-article__button {
    width: 270px;
}
.tab__aside {
    flex: 0 1 40.17%;
}
.tab-aside__img {
    width: 100%;
}


/*--------------- AWESOME ---------------*/

.awesome__container {
    padding: 50px 0 58px 0;
}

.awesome__row {
    display: flex;
    justify-content: space-between;
    margin: 71px 0 0 0;
}
.awesome__column {
    flex: 0 1 calc(370/1170*100%);
}

.item-awesome {
    text-align: center;
}
.item-awesome__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px auto;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 1px solid #EC7979;
}
.awesome__icon-3 {
    display: block;
    padding: 13px 22px 13px 26px;
}
.item-awesome__title {
    padding: 33px 0;
}
.item-awesome__text {
    margin: 8px 0 0 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
}


/*--------------- PRICING ---------------*/

.pricing {
    background: #F5F5F5;
}
.pricing__container {
    padding: 50px 0 50px 0;
}
.pricing__row {
    display: flex;
    justify-content: space-between;
    margin: 59px 0 0 0;
}
.pricing__column {
    margin: 20px 0 0 0;
    flex: 0 1 calc(370/1170*100%);
    transition: all 0.3s ease-out 0s;
}
.pricing__column:hover {
    margin: 0;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    transition: all 0.3s ease-out 0.05s;
}

.item-pricing__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #fff;
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.item-pricing__price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.item-pricing__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.item-pricing__list li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    background-color: #fff;
    border: 2px solid #F5F5F5;
}


/*--------------- REVIEWS ---------------*/

.reviews__container {
    padding: 50px 0 64px 0;
}
.reviews__row {
    display: flex;
    justify-content: space-between;
    margin: 83px 0 0 0;
}
.reviews__column {
    flex: 0 1 calc(370/1170*100%);
}

.item-reviews {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}
.item-reviews__message {
    position: relative;
    padding: 37px 20px;
    text-align: center;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    background: #E2E2E2;
    border-radius: 10px;
}
.item-reviews__message:after {
    content: '';
    position: absolute;
    left: 70px; 
    bottom: -20px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
   }
.item-reviews__person {
    margin: 66px 0 0 0;
}
.person-reviews {
    display: flex;
    justify-content: space-between;
    color: #000;
}
.person-reviews__photo {
    flex: 0 1 calc(70/370*100%);
}
.person-reviews__characteristic {
    flex: 0 1 calc(270/370*100%);
}
.person-reviews__name {
    padding: 10px 0;
}
.person-reviews__post {
    margin: 15px 0 0 0;
}


/*--------------- PICTURE ---------------*/

.picture {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/picture.png');
    background-size: auto, 100% 100%;
}
.picture__container {
    padding: 50px 0 50px 0;
}
.picture__container h2,
.picture__container h3 {
    color: #fff;
}
.picture__container .block-header__line {
    background-color: #fff;
}
.picture__download {
    margin: 73px 0 0 0;
    display: flex;
    justify-content: center;
}

/*--------------- CONTACT ---------------*/

.contact__container {
    padding: 50px 0 50px 0;
}
.contact__row {
    display: flex;
    justify-content: space-between;
    margin: 39px 0 0 0;
}
.contact__column {
    flex: 0 1 calc(570/1170*100%);
}
.left-contact input {
    padding: 50px 0 16px 0;
    width: 100%;
    font-family: 'Open Sans';
    line-height: 19px;
    border-bottom: 1px solid #BDBDBD;
}
.left-contact input::-moz-placeholder {color: #BDBDBD;}
.left-contact input::-webkit-input-placeholder {color: #BDBDBD;}

.right-contact__message {
    padding: 50px 30px 16px 0;
    width: 100%;
    height: 258px;
    font-family: 'Open Sans';
    line-height: 19px;
    resize: none;
    overflow: hidden;
    border-bottom: 1px solid #BDBDBD;
}
.right-contact__message::-moz-placeholder {color: #BDBDBD;}
.right-contact__message::-webkit-input-placeholder {color: #BDBDBD;}

.contact__send {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
}


/*--------------- FOOTER ---------------*/

footer {
    padding: 35px 0 27px 0;
    background-color: #000;
}
.footer__list {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    justify-content: space-between;
}
.footer__list a {
    flex: 0 1 calc(53/570*100%);
}
.footer__list img {
    width: 100%;
}
.footer__text {
    padding: 28px 0 0 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}