/*--------------- global ---------------*/

.container {
    margin: 0 auto;
    max-width: 1170px;
    box-sizing: content-box;
}
.block-header {
    text-align: center;
    font-family: 'Raleway';
}
h2 {
    padding: 54px 0;
    font-size: 36px;
    line-height: 42px;
}
.block-header__line {
    margin: 0 auto;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}
h3 {
    margin: 40px auto 0;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}


/*--------------- TABS ---------------*/

.tab__container {
    padding: 99px 0 0 0;
    border: 2px solid coral;
}
.tab__header {
    display: flex;
    height: 40px;
}
.tab__choice {
    flex: 0 1 calc(184/1170*100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    line-height: 19px;
    color: #333;
    border-bottom: 1px solid #C6CBCD;
}
.tab__choice-active {
    flex: 0 1 calc(203/1170*100%);
    border: 1px solid #C6CBCD;
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    box-sizing: content-box;
}
.tab__choice:last-child {
    flex: auto;
}

.tab__main {
    display: flex;
    border-right: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-bottom: 1px solid #C6CBCD;
}
.tab__article {
    flex: 0 1 59.83%;
    padding: 0 30px 0 100px;
}
.tab-article__title {
    padding: 41.5px 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}
.tab-article__text {
    margin: 27px 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
}
.tab-article__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 58px;
    
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    background: #EC7979;
}
.tab__aside {
    flex: 0 1 40.17%;
}
.tab-aside__img {
    width: 100%;
}


/*--------------- AWESOME ---------------*/

.awesome__container {
    padding: 50px 0 58px 0;
    border: 2px solid cornflowerblue;
}

.awesome__row {
    display: flex;
    justify-content: space-between;
    margin: 71px 0 0 0;
}
.awesome__column {
    flex: 0 1 calc(370/1170*100%);
}

.item-awesome {
    text-align: center;
}
.item-awesome__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px auto;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 1px solid #EC7979;
}
.awesome__icon-3 {
    display: block;
    padding: 13px 22px 13px 26px;
}
.item-awesome__title {
    padding: 33px 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.item-awesome__text {
    margin: 8px 0 0 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
}


/*--------------- PRICING ---------------*/

.pricing__container {
    padding: 50px 0 50px 0;
    border: 2px solid goldenrod;
    background: #F5F5F5;
}
.pricing__row {
    display: flex;
    justify-content: space-between;
    margin: 59px 0 0 0;
}
.pricing__column {
    margin: 20px 0 0 0;
    flex: 0 1 calc(370/1170*100%);
}
.pricing__column:nth-child(2) {
    margin: 0;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.item-pricing {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}
.item-pricing__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.item-pricing__price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.item-pricing__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.item-pricing__list li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #86878B;
    background-color: #fff;
    border: 2px solid #F5F5F5;
}


/*--------------- REVIEWS ---------------*/

.reviews__container {
    padding: 50px 0 64px 0;
    border: 2px solid teal;
}
.reviews__row {
    display: flex;
    justify-content: space-between;
    margin: 83px 0 0 0;
}
.reviews__column {
    flex: 0 1 calc(370/1170*100%);
}

.item-reviews {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}
.item-reviews__message {
    position: relative;
    padding: 37px 20px;
    text-align: center;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    background: #E2E2E2;
    border-radius: 10px;
}
.item-reviews__message:after {
    content: '';
    position: absolute;
    left: 70px; 
    bottom: -20px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
   }
.item-reviews__person {
    margin: 66px 0 0 0;
}
.person-reviews {
    display: flex;
    justify-content: space-between;
    color: #000;
}
.person-reviews__photo {
    flex: 0 1 calc(70/370*100%);
}
.person-reviews__characteristic {
    flex: 0 1 calc(270/370*100%);
}
.person-reviews__name {
    padding: 10px 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.person-reviews__post {
    margin: 15px 0 0 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
}


/*--------------- PICTURE ---------------*/

.picture__container {
    padding: 50px 0 50px 0;
    border: 2px solid turquoise;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/picture.png');
    background-size: auto, 100% 100%;
}
.picture__container h2,
.picture__container h3 {
    color: #fff;
}
.picture__container .block-header__line {
    background-color: #fff;
}
.picture__download {
    margin: 73px 0 0 0;
    display: flex;
    justify-content: center;
}
.picture__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 58px;
    
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    border: 2px solid #fff;
    box-sizing: border-box;
}


/*--------------- CONTACT ---------------*/

.contact__container {
    padding: 50px 0 50px 0;
    border: 2px solid darkgoldenrod;
}
.contact__row {
    display: flex;
    justify-content: space-between;
    margin: 73px 0 0 0;
}
.contact__column {
    flex: 0 1 calc(570/1170*100%);
}
.left-contact__name {
    padding: 16px 0 16px 0;
}
.left-contact__email,
.left-contact__password {
    padding: 50px 0 16px 0;
}
.left-contact__line {
    height: 1px;
    background-color: #BDBDBD;
}
.left-contact input {
    width: 100%;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
}
.left-contact input::-moz-placeholder {color: #BDBDBD;}
.left-contact input::-webkit-input-placeholder {color: #BDBDBD;}

.right-contact__message {
    padding: 16px 30px 16px 0;
    width: 100%;
    height: 221px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    resize: none;
    overflow: hidden;
}
.right-contact__line {
    height: 1px;
    background-color: #BDBDBD;
}
.right-contact__message::-moz-placeholder {color: #BDBDBD;}
.right-contact__message::-webkit-input-placeholder {color: #BDBDBD;}

.contact__send {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
}
.contact__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 58px;
    
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    background: #EC7979;
}


/*--------------- FOOTER ---------------*/

footer {
    padding: 35px 0 27px 0;
    background-color: #000;
}
.footer_list {
    display: flex;
    justify-content: center;
}
.footer_list a:nth-child(even) {
    padding: 0 33px;
}
.footer_text {
    padding: 28px 0 0 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}