/*--------------- global ---------------*/

.container {
    margin: 0 auto;
    max-width: 1202px;
}
.block-header {
    text-align: center;
    font-family: 'Raleway';
}
h2 {
    padding: 54px 0;
    font-size: 36px;
    line-height: 42px;
}
.block-header__line {
    margin: 0 auto;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}
.block-header__text {
    margin: 40px auto 0;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}
@media (max-width: 1099.98px) {
    h2 {
        padding: 46px 0;
        font-size: 24px;
        line-height: 28px;
    }
    .block-header__line {
        width: 142px;
    }
    .block-header__text {
        margin: 32px auto 0;
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 479.98px) {
    h2 {
        font-size: 18px;
        line-height: 21px;
    }
    .block-header__line {
        width: 134px;
    }
    .block-header__text {
        margin: 24px auto 0;
        font-size: 13px;
        line-height: 15px;
    }
}

h4 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
h5 {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
}
@media (max-width: 1099.98px) {
    h4 {
        font-size: 18px;
        line-height: 25px;
    }
    h5 {
        font-family: 'Raleway';
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 479.98px) {
    h5 {
        font-size: 14px;
        line-height: 15px;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 58px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    background-color: #EC7979;
}
.button:hover {
    background-color: #AB4949;
}
.button:active {
    background-color: #EC7979;
}

.white-button {
    border: 2px solid #fff;
    background-color: transparent;
    box-sizing: border-box;
}
.white-button:hover {
    color: #EC7979;
    background-color: transparent;
    border: 2px solid #EC7979;
}
.white-button:active {
    color: #fff;
    background-color: #AB4949;
    border: 2px solid #AB4949;

}

@media (max-width: 1199.98px) {
    .button {
        width: 318px;
    }
}


/*--------------- HEADER ---------------*/

header {
    position: absolute;
    width: 100%;
    background-color: #000;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    height: 75px;
}
.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 115px;
    position: relative;
    z-index: 3;
}
.header__logo img:last-child {
    padding: 0 0 0 3px;
}
.header__list {
    display: flex;
    margin: 0 20px 0 0;
}
.header__item {
    width: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 19px;
    color: #fff;
}

@media (max-width: 1023.98px) {
    .header__container {
        height: 70px;
    }
    .header__logo {
        margin: 0 0 0 80px;
    }
    .header__list {
        margin: 0 15px 0 0;
    }
    .header__item {
        width: 80px;
        line-height: 19px;
    }
}
@media (max-width: 767.98px) {
    .header__container {
        height: 60px;
    }
    .header__logo {
        margin: 0 0 0 60px;
    }
    .header__logo img{
        height: 27px;
    }
    .header__list {
        margin: 0;
    }
}
@media (max-width: 479.98px) {
    .header__container {
        height: 56px;
    }
    .header__logo {
        margin: 0 0 0 20px;
    }
    .header__logo img:last-child {
        padding: 0 0 0 2px;
    }
    .header__logo img{
        height: 23px;
    }
}


/*--------------- MENU BURGER ---------------*/

.header__burger {
    display: none;
    margin: 0 35px 0 0;
    position: relative;
    z-index: 3;
}
@media (max-width: 767.98px) {
    body.lock{
		overflow: hidden;
	}
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        top: 9px;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger.active span{
		transform: scale(0);
	}
	.header__burger.active:before{
		transform:rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform:rotate(-45deg);
		bottom: 9px;
	}

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        padding: 56px 0 0 0;
        z-index: 2;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        flex-direction: column;
        align-items: center;
    }
    .header__list li {
        margin: 24px 0;
    }
}


/*--------------- HOME ---------------*/

.home__container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/home.png');
    background-size: auto, 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.home__row {
    padding: 283px 20px 183px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    box-sizing: content-box;
}
.left-home {
    flex: 0 1 calc(670/1170*100%);
    color: #fff;
}
.left-home__logo {
    padding: 23px 0 22px 0;
}
.left-home__logo img {
    height: 55px;
}
.header__logo img:last-child {
    padding: 0 0 0 5px;
}
h1 {
    margin: 51px 0 55px 0;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}
.left-home__line {
    margin: 0 0 42px 0;
    width: 170px;
    height: 1px;
    background-color: #fff;
}
.left-home__text {
    margin: 0 0 42px 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
}
.left-home__button {
    width: 270px;
}
.right-home {
    flex: 0 1 calc(470/1170*100%);
}
.right-home__white-block {
    padding: 0 50px 75px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}
.right-home__title {
    padding: 28px 0 41px 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333;
    text-align: center;
}
.right-home__title span {
    color: #ec7979;
}
.right-home input {
    width: 100%;
    padding: 33px 0 16px;
    border-bottom: 1px solid #BDBDBD;

    font-family: 'Open Sans';
    line-height: 19px;
    
}
.right-home input::-moz-placeholder {color: #BDBDBD;}
.right-home input::-webkit-input-placeholder {color: #BDBDBD;}
.right-home__button {
    width: 100%;
    height: 60px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 0px 0px 10px 10px;
}

@media (max-width: 1199.98px) {
    .home__container {
        background-size: auto, 110% 100%;
    }
    .home__row {
        padding: 212px 20px 106px 115px;
    }
    .left-home {
        flex: 0 1 calc(454/889*100%);
    }
    .left-home__logo {
        padding: 17px 0 16px 0;
    }
    .left-home__logo img {
        height: 41px;
    }
    .header__logo img:last-child {
        padding: 0 0 0 3px;
    }
    h1 {
        margin: 38px 0 41px 0;
        font-size: 36px;
        line-height: 42px;
    }
    .left-home__line {
        margin: 0 0 31px 0;
        width: 115px;
    }
    .left-home__text {
        margin: 0 0 31px 0;
        font-size: 14px;
        line-height: 16px;
    }
    .left-home__button {
        width: 183px;
        height: 50px;
    }
    .right-home {
        flex: 0 1 calc(398/889*100%);
    }
    .right-home__title {
        padding: 32px 0 45px 0;
        font-size: 18px;
        line-height: 25px;
    }
}
@media (max-width: 1023.98px) {
    .home__row {
        padding: 180px 20px 70px 60px;
    }
    h1 {
        margin: 30px 0 30px 0;
    }
    .left-home__line {
        width: 134px;
    }
    .right-home__white-block {
        padding: 0 35px 50px;
    }
    .right-home__title {
        padding: 25px 0 10px 0;
        font-size: 17px;
    }
    .right-home__button {
        height: 50px;
    }
}
@media (max-width: 767.98px) {
    .home__container {
        background-size: auto, 140% 100%;
    }
    .home__row {
        padding: 140px 20px 80px;
        flex-direction: column;
        align-items: center;
    }
    .left-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
    }
    .left-home__logo{
        display: none;
    }
    h1 {
        margin: 30px 0 43px 0;
        text-align: center;
    }
    .left-home__line {
        margin: 0 0 42px 0;
    }
    .left-home__text {
        margin: 0 0 42px 0;
        font-size: 16px;
        line-height: 20px;
    }
    .left-home__button {
        margin: 0 0 56px 0;
        width: 300px;
    }
    .right-home {
        max-width: 450px;
    }
    .right-home__white-block {
        padding: 0 28px 51px 20px;
    }
    .right-home__title {
        padding: 35px 0 3px 0;
    }
    .right-home__button {
        height: 60px;
    }
}
@media (max-width: 479.98px) {
    .home__container {
        background-size: auto, 450% 100%;
    }
    h1 {
        margin: 0 0 43px 0;
        text-align: center;
    }
    .left-home__text {
        font-size: 14px;
        line-height: 16px;
    }
    .right-home__title {
        font-size: 14px;
        line-height: 19px;
    }
}
@media (max-width: 399.98px) {
    .left-home__button {
        width: 100%;
    }
}


/*--------------- MEDIA ---------------*/

.media {
    background: #F8EFEF;
}
.media__container {
    padding: 0 16px;
}
.media__row {
    display: flex;
    justify-content: space-between;
}
.media-left {
    flex: 0 1 calc(470/1170*100%);  /* 1202 - 32 = 1170*/
}
.media-left__title {
    padding: 14px 0 31px 0;
    color: #333;
}
.media-left__text {
    padding: 0 0 18px 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}
.media-right {
    padding: 35px 0 0 0;
    flex: 0 1 calc(670/1170*100%);
}
.media-right__list {
    display: flex;
    justify-content: space-between;
}
.media-right__list li {
    flex: 0 1 calc(70/670*100%);
}
.media-right__list img {
    width: 100%;
}

@media (max-width: 1199.98px) {
    .media-left {
        flex: 0 1 calc(402/992*100%);
    }
    .media-left__title {
        padding: 10px 0 23px 0;
    }
    .media-left__text {
        padding: 0 0 13px 0;
        font-size: 14px;
        line-height: 16px;
    }
    .media-right {
        padding: 25px 0 0 0;
        flex: 0 1 calc(570/992*100%);
    }
    .media-right__list li {
        flex: 0 1 calc(64/560*100%);
    }
}
@media (max-width: 1023.98px) {
    .media-left {
        flex: 0 1 calc(270/736*100%);
    }
    .media-right {
        padding: 28px 0 0 0;
        flex: 0 1 calc(451/736*100%);
    }
    .media-right__list li {
        flex: 0 1 calc(50/451*100%);
    }
}
@media (max-width: 767.98px) {
    .media__row {
        flex-direction: column;
        align-items: center;
    }
    .media-left {
        max-width: 450px;
    }
    .media-left__title {
        padding: 41px 0 23px 0;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
    }
    .media-left__text {
        padding: 0 0 32px 0;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
    }
    .media-right {
        padding: 0 0 44px 0;
        width: 80%;
    }
    .media-right__list li {
        flex: 0 1 10%;
    }
}
@media (max-width: 479.98px) {
    .media-left {
        width: 100%;
    }
    .media-left__title {
        font-size: 18px;
        line-height: 25px;
    }
    .media-left__text {
        font-size: 14px;
        line-height: 16px;
    }
    .media-right {
        padding: 0 0 44px 0;
        width: 100%;
    }
    .media-right__list li {
        flex: 0 1 calc(26/271*100%);
    }
}


/*--------------- TABS ---------------*/

.tab__container {
    padding: 99px 16px 0;
}
.tab__header {
    display: flex;
    height: 40px;
}
.tab__choice {
    flex: 0 1 calc(184/1170*100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    line-height: 19px;
    color: #333;
    border-bottom: 1px solid #C6CBCD;
}
.tab__choice-active {
    flex: 0 1 calc(203/1170*100%);
    border: 1px solid #C6CBCD;
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    box-sizing: content-box;
}
.tab__choice:last-child {
    flex: auto;
}
.tab__main {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 100px;
    border-right: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-bottom: 1px solid #C6CBCD;
}
.tab__article {
    flex: 0 1 calc(570/1070*100%);
}
.tab-article__title {
    padding: 41.5px 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}
.tab-article__text {
    padding: 27px 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
}
.tab-article__button {
    width: 270px;
}
.tab__aside {
    flex: 0 1 calc(470/1070*100%);
}
.tab-aside__img {
    width: 100%;
}

@media (max-width: 1199.98px) {
    .tab__container {
        padding: 50px 16px 0;
    }
    .tab__choice {
        flex: 0 1 calc(156/992*100%);
    }
    .tab__choice-active {
        flex: 0 1 calc(172/992*100%);
    }
    .tab__main {
        padding: 0 0 0 85px;
    }
    .tab__article {
        flex: 0 1 calc(482/892*100%);
    }
    .tab-article__title {
        padding: 28px 0;
        font-size: 24px;
        line-height: 33px;
    }
    .tab-article__text {
        padding: 38px 0;
        font-size: 14px;
        line-height: 16px;
    }
    .tab-article__button {
        width: 232px;
    }
    .tab__aside {
        flex: 0 1 calc(385/892*100%);
    }
}
@media (max-width: 1023.98px) {
    .tab__main {
        padding: 0 0 0 50px;
    }
    .tab__article {
        flex: 0 1 calc(460/942*100%);
    }
    .tab-article__title {
        padding: 22px 0;
        font-size: 21px;
        line-height: 28px;
    }
    .tab-article__text {
        padding: 32px 0;
    }
    .tab-article__button {
        margin: 0 0 15px 0;
    }
    .tab__aside {
        flex: 0 1 calc(460/942*100%);
    }
    .tab-aside__img {
        height: 100%;
    }
}
@media (max-width: 767.98px) {
    .tab__choice {
        flex: 0 1 23%;
    }
    .tab__choice-active {
        flex: 0 1 25%;
    }
    .tab__main {
        flex-direction: column;
        align-items: center;
        padding: 0 22px;
    }
    .tab__article {
        max-width: 500px;
    }
    .tab-article__title {
        padding: 25px 0 30px 0;
        text-align: center;
    }
    .tab-article__text {
        padding: 0 0 28px 0;
        text-align: center;
    }
    .tab-article__button {
        margin: 0 auto 15px;
        width: 270px;
        height: 50px;
    }
    .tab-aside__img {
        display: none;
    }
}
@media (max-width: 567.98px) {
    .tab__article {
        max-width: 350px;
    }
}
@media (max-width: 479.98px) {
    .tab__container {
        padding: 41px 16px 0;
    }
    .tab__choice {
        flex: 0 1 calc(93/288*100%);
    }
    .tab__choice-active {
        flex: 0 1 calc(102/288*100%);
    }
    .tab__choice:last-child {
        display: none;
    }
    .tab-article__title {
        padding: 44px 0 72px 0;
        font-size: 18px;
        line-height: 25px;
    }
    .tab-article__text {
        padding: 0 0 29px 0;
        font-size: 13px;
        line-height: 15px;
    }
    .tab-article__button {
        margin: 0 auto 30px;
        width: 100%;
    }
}


/*--------------- AWESOME ---------------*/

.awesome__container {
    padding: 50px 16px 58px;
}
.awesome__row {
    display: flex;
    justify-content: space-between;
    margin: 71px 0 0 0;
}
.awesome__column {
    flex: 0 1 calc(370/1170*100%);
}
.item-awesome {
    text-align: center;
}
.item-awesome__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px auto;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 1px solid #EC7979;
}
.awesome__icon-3 {
    display: block;
    padding: 13px 22px 13px 26px;
}
.item-awesome__title {
    padding: 33px 0;
}
.item-awesome__text {
    margin: 8px 0 0 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
}

@media (max-width: 1099.98px) {
    .awesome__row {
        margin: 66px 0 0 0;
    }
    .awesome__column {
        flex: 0 1 calc(317/992*100%);
    }
    .item-awesome__icon {
        margin: 0 auto 61px;
        width: 80px;
        height: 80px;
    }
    .awesome__icon-1 img{
        width: 85%;
    }
    .awesome__icon-2 img{
        width: 75%;
    }
    .awesome__icon-3 {
        padding: 11px 0 0 0;
    }
    .awesome__icon-3 img{
        width: 50%;
    }
    .item-awesome__title {
        padding: 0 0 46px 0;
    }
    .item-awesome__text {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 1023.98px) {
    .awesome__row {
        margin: 55px 0 0 0;
    }
    .awesome__column {
        flex: 0 1 calc(313/992*100%);
    }
    .item-awesome__icon {
        margin: 0 auto 45px;
    }
    .item-awesome__title {
        padding: 0 0 38px 0;
    }
}
@media (max-width: 767.98px) {
    .awesome__row {
        flex-direction: column;
        align-items: center;    
        margin: 40px 0 0 0;
    }
    .awesome__column {
        margin: 44px 0 0 0;
        max-width: 500px;
    }
}
@media (max-width: 479.98px) {
    .item-awesome__icon {
        margin: 0 auto 62px;
    }
    .item-awesome__title {
        padding: 0 0 38px 0;
    }
}


/*--------------- PRICING ---------------*/

.pricing {
    background: #F5F5F5;
}
.pricing__container {
    padding: 50px 16px 50px;
}
.pricing__row {
    display: flex;
    justify-content: space-between;
    margin: 59px 0 0 0;
}
.pricing__column {
    margin: 20px 0 0 0;
    flex: 0 1 calc(370/1170*100%);
    transition: all 0.3s ease-out 0s;
}
.pricing__column:hover {
    margin: 0;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    transition: all 0.3s ease-out 0.05s;
}
.item-pricing__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #fff;
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.item-pricing__price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.item-pricing__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.item-pricing__list li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    background-color: #fff;
    border: 2px solid #F5F5F5;
}

@media (max-width: 1099.98px) {
    .pricing__row {
        margin: 32px 0 0 0;
    }
    .pricing__column {
        margin: 18px 0 0 0;
        flex: 0 1 calc(317/992*100%);
    }
    .item-pricing__title {
        height: 53px;
    }
    .item-pricing__price {
        height: 89px;
    }
    .item-pricing__text {
        height: 44px;
    }
    .item-pricing__list li {
        height: 44px;
    }
}
@media (max-width: 1023.98px) {
    .pricing__column {
        flex: 0 1 calc(313/992*100%);
    }
}
@media (max-width: 767.98px) {
    .pricing__container {
        padding: 0 16px 26px;
    }
    .pricing__row {
        display: block;
        margin: 24px 0 0 0;
    }
    .pricing__column {
        margin: 0 auto 27px;
        width: 80%;
        max-width: 450px;
        pointer-events: none;       /* Убираю hover */
    }
    .pricing__column:last-child {
        margin: 0 auto;
    }
}
@media (max-width: 479.98px) {
    .pricing__column {
        width: 90%;
    }
    .item-pricing__title {
        height: 47px;
    }
    .item-pricing__price {
        height: 78px;
    }
    .item-pricing__text {
        height: 39px;
    }
    .item-pricing__list li {
        height: 39px;
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 399.98px) {
    .pricing__column {
        width: 100%;
    }
    .item-pricing__price {
        font-size: 24px;
        line-height: 28px;
    }
}


/*--------------- REVIEWS ---------------*/

.reviews__container {
    padding: 50px 16px 64px;
}
.reviews__row {
    margin: 83px 0 0 0;
}
.reviews__column {
    margin: 0 0 60px 0;
}
.item-reviews__message {
    position: relative;
    padding: 37px 20px;
    text-align: center;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    background: #E2E2E2;
    border-radius: 10px;
}
.item-reviews__message:after {
    content: '';
    position: absolute;
    left: 70px; 
    bottom: -20px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
}
.item-reviews__person {
    margin: 66px 0 0 0;
}
.person-reviews {
    display: flex;
    color: #000;
}
.person-reviews__photo {
    flex: 0 1 calc(63/370*100%);
}
.person-reviews__characteristic {
    margin: 0 0 0 30px;
}
.person-reviews__name {
    padding: 10px 0;
}
.person-reviews__post {
    margin: 15px 0 0 0;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #86878B;
}
.swiper-pagination-bullet-active {
    background-color: #86878B;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 50px;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
    margin-right: 0;
}

@media (max-width: 1099.98px) {
    .reviews__row {
        margin: 32px 0 0 0;
    }
    .item-reviews__message {
        padding: 50px 20px;
        font-size: 14px;
        line-height: 16px;
    }
    .item-reviews__message:after {
        left: 60px; 
    }
    .person-reviews__photo {
        flex: 0 1 calc(63/312*100%);        /* 312 так как скролл*/
    }
    .person-reviews__characteristic {
        margin: 0 0 0 22px;
    }
    .person-reviews__name {
        padding: 6px 0 5px 0;
    }
    .person-reviews__post {
        margin: 10px 0 0 0;
    }
}
@media (max-width: 1023.98px) {
}
@media (max-width: 767.98px) {
    .reviews__container {
        padding: 0 16px;
    }
    .reviews__row {
        margin: 24px 0 0 0;
    }
    .swiper {
        width: 80%;
        max-width: 500px;
    }
    .item-reviews__message {
        padding: 50px 15px;
    }
    .reviews__points {
        display: flex;
    }
    .swiper-pagination:after {
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 479.98px) {
    .swiper {
        width: 90%;
    }
    .item-reviews__message:after {
        left: 46px; 
    }
    .reviews__points {
        margin: 32px 0;
    }
    .points-reviews__item {
        width: 10px;
        height: 10px;
    }
    .points-reviews__item:nth-child(2) {
        margin: 0 50px;
    }
}
@media (max-width: 399.98px) {
    .swiper {
        width: 100%;
    }
    .person-reviews__photo {
        flex: 0 1 calc(57/271*100%);
    }
}


/*--------------- PICTURE ---------------*/

.picture {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/picture.png');
    background-size: auto, 100% 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.picture__container {
    padding: 50px 16px 50px;
}
.picture__container h2,
.picture__container .block-header__text {
    color: #fff;
}
.picture__container .block-header__line {
    background-color: #fff;
}
.picture__download {
    margin: 73px 0 0 0;
    display: flex;
    justify-content: center;
}

@media (max-width: 1199.98px) {
    .picture {
        background-size: auto, 100% 100%;
    }
    .picture__download {
        margin: 32px 0 0 0;
    }
}
@media (max-width: 767.98px) {
    .picture {
        margin: 31px 0 0 0;
        background-size: auto, 120% 100%;
    }
    .picture__container {
        padding: 0 16px 50px;
    }
}
@media (max-width: 479.98px) {
    .picture {
        background-size: auto, 140% 100%;
    }
    .picture__download button {
        height: 50px;
    }
}
@media (max-width: 399.98px) {
    .picture {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/picture2.png');
        background-size: auto, 100% 100%;
    }
    .picture__download {
        margin: 66px 0 0 0;
    }
    .picture__download button {
        width: 100%;
    }
}


/*--------------- CONTACT ---------------*/

.contact__container {
    padding: 50px 16px 50px;
}
.contact__row {
    display: flex;
    justify-content: space-between;
    margin: 39px 0 0 0;
}
.contact__column {
    flex: 0 1 calc(570/1170*100%);
}
.left-contact input {
    padding: 50px 0 16px 0;
    width: 100%;
    font-family: 'Open Sans';
    line-height: 19px;
    border-bottom: 1px solid #BDBDBD;
}
.left-contact input::-moz-placeholder {color: #BDBDBD;}
.left-contact input::-webkit-input-placeholder {color: #BDBDBD;}
.right-contact__message {
    padding: 50px 30px 16px 0;
    width: 100%;
    height: 258px;
    font-family: 'Open Sans';
    line-height: 19px;
    resize: none;
    overflow: hidden;
    border-bottom: 1px solid #BDBDBD;
}
.right-contact__message::-moz-placeholder {color: #BDBDBD;}
.right-contact__message::-webkit-input-placeholder {color: #BDBDBD;}
.contact__send {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
}

@media (max-width: 1199.98px) {
    .contact__row {
        margin: 14px 0 0 0;
    }
    .contact__column {
        flex: 0 1 calc(486/992*100%);
    }
}
@media (max-width: 767.98px) {
    .contact__container {
        padding: 0 16px 40px;
    }
    .contact__row {
        flex-direction: column;
        align-items: center;
    }
    .contact__column {
        display: block;
        width: 85%;
        max-width: 450px;
    }
}
@media (max-width: 479.98px) {
    .contact__column {
        width: 90%;
    }
    .contact__send button {
        height: 50px;
    }

}
@media (max-width: 399.98px) {
    .contact__column {
        width: 100%;
    }
    .contact__send button {
        width: 100%;
    }
}


/*--------------- FOOTER ---------------*/

footer {
    background-color: #000;
}
.footer__container {
    padding: 35px 0 27px;
}
.footer__list {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    justify-content: space-between;
}
.footer__list li {
    flex: 0 1 calc(53/570*100%);
}
.footer__list img {
    width: 100%;
}
.footer__text {
    padding: 28px 0 0 0;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

@media (max-width: 1199.98px) {
    .footer__container {
        padding: 35px 0 30px;
    }
    .footer__list {
        max-width: 477px;
    }
    .footer__list li {
        flex: 0 1 calc(45/477*100%);
    }
    .footer__text {
        padding: 38px 0 0 0;
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 767.98px) {
    .footer__container {
        padding: 35px 30px 30px;
    }
}
@media (max-width: 479.98px) {
    .footer__container {
        padding: 35px 16px 45px;
    }
    .footer__list li {
        flex: 0 1 calc(26/288*100%);
    }
    .footer__text {
        padding: 42px 0 0 0;
    }
}